@media screen and (max-width:700px) {
  .responsive {
    display: none;
  }
}

mat-divider{
  color:white;
  margin: 12px;
}

h1{
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding:0;
}

h1 span{
  color: #f6aa1c;
  font-size: 32px;
}

ul {
  padding: 0 12px;
}


span {
  color: #f6aa1c;
  padding:12px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 12px;
}

mat-list-item:hover {
  background-color: #f6aa1c;
  cursor: pointer;
}

mat-list-item:hover span {
  color: black;
}

#collection{
  color:white;
  font-size: 28px;
}