<div class="container">
  <div routerLink="/" class="header-box">
    <h1 class="fs-2 text-center text-white my-3"><i class="fa-solid fa-layer-group px-2"></i><span class="responsive">My Collection</span></h1>
  </div>
  <hr class="m-0 text-white">
  <ul class="list-unstyled px-2 py-3">
    <li (click)="onLoadAlbums()" class="m-2 py-2 text-center"><i class="fa-solid fa-record-vinyl px-2"></i><a class="fs-5 text-decoration-none text-white responsive">My Albums</a></li>
    <li (click)="onLoadSongs()" class="m-2 py-2 text-center"><i class="fa-solid fa-music px-2"></i><a class="fs-5 text-decoration-none text-white responsive">My Songs</a></li>
    <li (click)="onLoadFavorites()" class="m-2 py-2 text-center"><i class="fa-solid fa-heart px-2"></i><a class="fs-5 text-decoration-none text-white responsive">My Favorites</a></li>
  </ul>
</div>