<div>
  <div routerLink="/">
    <h1>
      <span class="material-symbols-rounded">
        library_music
      </span>
      <span id="collection" class="responsive">My Collection</span>
    </h1>
  </div>
  <mat-divider></mat-divider>

  <mat-list>
    <mat-list-item (click)="onLoadArtists()" (mouseover)="tooltipArtists.show()" matTooltipPosition="right"
      matTooltip="My Artists" #tooltipArtists="matTooltip" [matTooltipDisabled]="isTooltipEnabled">
      <span class="material-symbols-rounded">groups</span>
      <a class="responsive">My Artists</a>
    </mat-list-item>
    <mat-list-item (click)="onLoadAlbums()" (mouseover)="tooltipAlbums.show()" matTooltipPosition="right"
      matTooltip="My Albums" #tooltipAlbums="matTooltip" [matTooltipDisabled]="isTooltipEnabled">
      <span class="material-symbols-rounded">album</span>
      <a class="responsive">My Albums</a>
    </mat-list-item>
    <mat-list-item (click)="onLoadSongs()" (mouseover)="tooltipSongs.show()" matTooltipPosition="right"
      matTooltip="My Songs" #tooltipSongs="matTooltip" [matTooltipDisabled]="isTooltipEnabled">
      <span class="material-symbols-rounded">music_note</span>
      <a class="responsive">My Songs</a>
    </mat-list-item>
    <mat-list-item (click)="onLoadFavorites()" (mouseover)="tooltipFavorites.show()" matTooltipPosition="right"
      matTooltip="My Favorites" #tooltipFavorites="matTooltip" [matTooltipDisabled]="isTooltipEnabled">
      <span class="material-symbols-rounded">
        favorite
      </span>
      <a class="responsive">My Favorites</a>
    </mat-list-item>
  </mat-list>
</div>