<mat-card>
    <mat-card-header>Details</mat-card-header>
    <mat-card-content>
        <ul>
            <li fxHide fxShow.lt-md><mat-chip disabled>ALBUM</mat-chip></li>
            <li><strong>Album duration</strong><br>{{ albumDuration }}</li>
            <li><strong>Number of songs</strong><br>{{ album.songs.length }} songs</li>
            <li><strong>Description</strong><br>{{ album.description }}</li>
        </ul>
    </mat-card-content>
    <button id="edit-button" mat-raised-button fxFlexAlign="center" (click)="onEditAlbum()">Edit</button>
</mat-card>