<div fxLayout="column" fxLayoutAlign="space-around center">
    <h1 fxFlexAlign="center">{{song.song.title}}</h1>
    <span fxFlexAlign="center" class="material-symbols-rounded" [ngClass]="isFavorite ? 'fill' : ''"
        (click)="onToggleFavorite()">
        favorite
    </span>
    <mat-card>
        <mat-card-header>Details</mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <strong fxFlex="grow">Length</strong>
                    <p>{{song.song.length}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <strong fxFlex="grow">Album</strong>
                    <p>{{song.albumTitle}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <strong fxFlex="grow">Artist</strong>
                    <p>{{song.artistName}}</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>