<div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-chip id="top-chip" fxHide.lt-md disabled color="primary">SONG</mat-chip>
    <h1 fxFlexAlign="center">{{song.title}}</h1>
    <span fxFlexAlign="center" class="material-symbols-rounded" [ngClass]="isFavorite ? 'fill' : ''"
        (click)="onToggleFavorite()">
        favorite
    </span>
    <mat-card>
        <mat-card-header>Details</mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item fxHide fxShow.lt-md>
                    <mat-chip id="bot-chip" disabled color="primary">SONG</mat-chip>
                </mat-list-item>
                <mat-divider fxHide fxShow.lt-md></mat-divider>
                <mat-list-item>
                    <strong fxFlex="grow">Length</strong>
                    <p>{{song.length}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <strong fxFlex="grow">Album</strong>
                    <p>{{albumTitle}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <strong fxFlex="grow">Artist</strong>
                    <p>{{artistName}}</p>
                </mat-list-item>
            </mat-list>

        </mat-card-content>
        <button id="edit-button" mat-raised-button fxFlexAlign="center" (click)="onEditSong()">Edit Song</button>
    </mat-card>

</div>