app-side-bar {
    background: #000;
    min-width: fit-content;
    width: 160px;
    min-height: 100vh;
    height: auto;
}

@media screen and (max-width:600px) {
    app-side-bar {
        background: #000;
        min-width: fit-content;
        width:fit-content;
        min-height: 100vh;
        height: auto;
    }
}

app-albums {
    min-height: 100vh;
}

app-songs {
    min-height: 100vh;
}