app-side-bar {
    background: #000;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: auto;

}

app-albums {
    min-height: 100vh;
}

app-songs {
    min-height: 100vh;
}