@media screen and (max-width:700px) {
    app-side-bar {
        background: #000;
        max-width: fit-content;
        min-height: 100vh;
        height: auto;
    }
}

app-side-bar {
    background: #000;
    min-width: fit-content;
    width: 160px;
    min-height: 100vh;
    height: auto;
}

app-songs,
app-favorites,
app-albums {
    min-height: 100vh;
}