<h1 mat-dialog-title>Create Album of {{ artist.name }}</h1>
<form [formGroup]="newAlbumForm" (ngSubmit)="onCreateAlbum()">
  <div mat-dialog-content class="flexing">
    <mat-form-field appearance="fill">
      <mat-label>Album Title</mat-label>
      <input type="text" matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Album Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <!-- TODO: ArrayForm -->
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [mat-dialog-close]="onCreateAlbum()" cdkFocusInitial>Ok</button>
  </div>
</form>