<form [formGroup]="formGroup" (ngSubmit)="onCreateAlbum()">
	<mat-stepper linear #stepper>
		<mat-step [stepControl]="formGroup">
			<ng-template matStepLabel>Album basic information</ng-template>
			<div fxLayout="column" fxLayoutAlign="space-around stretch" class="breathing-room-top">
				<h3>New Album</h3>
				<mat-form-field appearance="fill">
					<mat-label>Title</mat-label>
					<input matInput placeholder="Title" formControlName="title" required>
				</mat-form-field>
				<p *ngIf="!formGroup.get('title')?.valid && formGroup.get('title')?.touched" class="red-color" noFlex>
					Please introduce an Album title</p>

				<mat-form-field appearance="fill">
					<mat-label>Description</mat-label>
					<input matInput placeholder="Description" formControlName="description" required>
				</mat-form-field>
				<p *ngIf="!formGroup.get('description')?.valid && formGroup.get('description')?.touched"
					class="red-color" noFlex>Please introduce an Album description</p>

				<button type="button" mat-button matStepperNext fxFlexAlign="end">Next</button>
			</div>

		</mat-step>
		<mat-step [stepControl]="formGroup" label="Fill out the Album's songs">
			<div fxLayout="column" fxLayoutAlign="space-between stretch">
				<div fxLayout="row" fxLayoutAlign="space-between center" class="breathing-room-top breathing-room-bot">
					<h3 fxFlex>Add a new Song!</h3>
					<button type="button" mat-fab color="primary" fxFlexAlign="end"
						(click)="onAddSongControl()">+</button>
				</div>
				<hr>
				<div *ngIf="getSongArray.controls.length > -1" formArrayName="songs">
					<div fxLayout="row" fxLayoutAlign="space-between start"
						*ngFor="let songControl of getSongArray.controls; let index = index" [formGroupName]="index">
						<div fxLayout="column" fxFlex="55">
							<mat-form-field>
								<mat-label for="songTitle">Song Title</mat-label>
								<input type="text" matInput id="songTitle" formControlName="title">
							</mat-form-field>
							<p *ngIf="!getSongArray.get(''+index)?.get('title')?.valid && getSongArray.get(''+index)?.get('title')?.touched"
								class="red-color" noFlex>Please introduce a Song title</p>
						</div>

						<div fxLayout="column" fxFlex="30">
							<mat-form-field>
								<mat-label for="songLength">Song Length</mat-label>
								<input type="text" matInput id="songLength" formControlName="length">
							</mat-form-field>
							<p *ngIf="!getSongArray.get(''+index)?.get('length')?.valid && getSongArray.get(''+index)?.get('length')?.touched"
								class="red-color" noFlex>Please introduce a Song length with the format 59:59</p>
						</div>
						<button type="button" mat-fab color="warn" (click)="onRemoveSongControl(index)">-</button>
					</div>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between stretch">
					<button type="button" mat-button matStepperPrevious>Back</button>
					<button type="submit" mat-button color="primary" matStepperNext fxFlexAlign="end"
						[disabled]="!formGroup.valid">Add Album</button>
				</div>
			</div>
		</mat-step>
	</mat-stepper>
</form>