/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

app-albums,
app-album,
app-favorites,
app-home,
app-songs,
app-song,
app-page-not-found{
    flex-grow: 1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
