<div id="container" fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-chip fxHide.lt-md disabled color="primary">ALBUM</mat-chip>
    <h1 fxFlexAlign="center"> {{ album.title }}</h1>
    <span fxFlexAlign="center" id="favorite-symbol" class="material-symbols-rounded" [ngClass]="isFavorite ? 'fill' : ''"
        (click)="onToggleFavorite()">favorite</span>
    <!-- <h2 fxFlexAlign="center">{{ album.artistName }}</h2> -->
    <div fxLayout="row" fxLayout.lt-md="column-reverse">
        <mat-list fxFlex="70" fxFlex.lt-md>
            <h3>Songs</h3>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let song of album.songs" (click)="onLoadSongByTitle(song)">
                <strong>{{ song.title }}</strong><br>{{ song.length }}
            </mat-list-item>
        </mat-list>
        <mat-divider fxHide.lt-sm [vertical]="true"></mat-divider>
        <app-album-detail fxFlex="25" fxFlex.lt-md [album]="album"></app-album-detail>
    </div>
</div>