<h1 class="fs-1 text-center pt-4 pb-0"> {{ album.album.title }}<br>
    <span class="material-symbols-rounded" [ngClass]="isFavorite ? 'fill' : ''" (click)="onToggleFavorite()">
        favorite
    </span>
</h1>
<p class="fs-4 text-center opacity-90 p-0 mt-0 mb-3">{{ album.artistName }}</p>
<div class="album-content d-flex">
    <div class="list-group mx-2 flex-grow-1">
        <a (click)="onLoadSongByTitle(song)" *ngFor="let song of album.album.songs"
            class="list-group-item list-group-item-action">
            <h6 class="fs-5 mb-0">{{ song.title }}</h6>
            <p class="mb-0 opacity-90"> {{ song.length }} </p>
        </a>
    </div>
    <app-album-detail class="details-content w-25 px-4" [album]="album"></app-album-detail>
</div>