<div fxLayout="column" fxLayoutAlign="space-around center">
    <h1>My Favorites</h1>
    <div id="no-favs" *ngIf="favoriteAlbums.length === 0 && favoriteSongs.length === 0">
        <h2>No favorites yet!</h2>
        <p>Start adding favorites by clicking in 'My Albuns' or 'My Songs' tabs!</p>
    </div>
    <mat-list *ngIf="favoriteAlbums.length > 0" fxFlexAlign="stretch">
        <p>My Favorite Albums</p>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let album of favoriteAlbums" fxLayout="row" fxLayout 
            (click)="onNavigateToFavorite(album)">
            <strong fxFlex class="type">{{ album.title }}</strong>
            <span noFlex class="material-symbols-rounded fill">favorite</span>
        </mat-list-item>
    </mat-list>
    <div *ngIf="favoriteAlbums.length === 0 && favoriteSongs.length > 0">
        <h2>No favorite albums yet!</h2>
        <p>Start adding favorites by clicking in 'My Albums' tab!</p>
    </div>
    <mat-list *ngIf="favoriteSongs.length > 0" fxFlexAlign="stretch">
        <p>My Favorite Songs</p>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let song of favoriteSongs" fxLayout="row" fxLayout 
         (click)="onNavigateToFavorite(song)">
            <strong fxFlex class="type">{{ song.song.title }}</strong>
            <span noFlex class="material-symbols-rounded fill">favorite</span>
        </mat-list-item>
    </mat-list>
    <div *ngIf="favoriteSongs.length === 0 && favoriteAlbums.length > 0">
        <h2>No favorite songs yet!</h2>
        <p>Start adding favorites by clicking in 'My Songs' tab!</p>
    </div>
</div>