<h1 class="fs-1 text-center py-4">Home</h1>
<p class="fs-5 text-center py-4">Welcome to your music collection!</p>
<hr>
<h3 class="fs-3 text-center py-4">My Artists</h3>

<mat-accordion #active>
    <mat-expansion-panel *ngFor="let artist of artists" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title class="fs-5">
                {{ artist.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
            <h3>Albums</h3>
            <p *ngFor="let album of artist.albums">{{ album.title }}</p>
            <button mat-button matTooltip="Add new Album" (click)="openDialog(artist)">
                <span class="material-symbols-rounded">add_circle</span>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<!--<app-add-album *ngIf="isAddingAlbum" [artist]="selectedArtist" (closeModal)="onStopAdding()"></app-add-album>-->